

<ion-content [fullscreen]="true">
  <div id="container">

    <div class="title">
      <h1 class="title__h1">Log In</h1>
    </div>
    <div toastContainer></div>

    <form (ngSubmit)="enviar()">
      <ion-grid>
        <div class="login">
          
          <ion-row class="login__row">
            <ion-col size="12" class="login__col">
              <input
                class="login__input"
                type="email"
                id="email"
                name="email"
                
                [(ngModel)]="email"
                placeholder="Email"
                onfocus="this.placeholder = ''"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Email'"
                required
              />
              <label for="email" class="login__label">Email</label>
            </ion-col>
          </ion-row>
          <ion-row class="login__row">
            <ion-col size="12" class="login__col">
           <p routerLink="/forgot-password"  class="login__p"> Forgot your <strong>Password</strong> ?</p>
              
              <input
              class="login__input"
                id="password"
                type="password"
                placeholder="Password"
                name="password"
                
                onfocus="this.placeholder = ''"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Password'"
                [(ngModel)]="password"
                required
              />
              <label for="password" class="login__label">Password</label>
            </ion-col>
          </ion-row>

        
          
          <ion-row class="login__row login__row-footer">
          
          <div class="login__signUpGoogle">
            <hr class="login__signUpGoogle__hr">
            <p class="login__signUpGoogle__p">Or Log In with </p>
            
            <img (click)="logInWithGoogle()" class="login__signUpGoogle__img" src="../../assets/icon/icon-google.svg" alt="Google Icon">
          
            <button class="login__button" type="submit">Log In</button>

          </div>
  
        </ion-row>
        </div>
        
       
      </ion-grid>
    </form>
   
      <p routerLink="/forgot-password" class="container__p forgot-password"> Forgot your <strong>Password</strong> ?</p>

      <p routerLink="/register" class="container__p dont-have-an-account"> You don't have an account  <strong>Yet</strong> ? </p>
        
    
  </div>
</ion-content>
