<ion-menu contentId="main-content">

  <ion-content class="ion-padding content"> 
    <ion-list class="content__list" lines="none">
      <a (click)="navigate()">
      <ion-item  [button]="true" detail="true" class="content__list-item">
        <ion-icon name="settings-outline"></ion-icon>
        <ion-label class="ion-margin-horizontal" > Configuracion </ion-label>
        
      </ion-item>
    </a>
    <a (click)="logOut()">
      <ion-item  [button]="true" detail="true" class="content__list-item ion-margin-vertical">
        <ion-icon name="log-out-outline"></ion-icon>
        <ion-label class="ion-margin-horizontal" > Sign Out </ion-label>
        
      </ion-item>
    </a>
      
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  
   
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>

      
    
  
</div>
