<ion-header [translucent]="true" class="header">
  <ion-toolbar>
    <ion-title class="header__toolbar-title">Configuracion</ion-title>
    <ion-buttons slot="start" >
      <ion-back-button  icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <div id="container">
    <div toastContainer></div>
   
     
      <ion-grid>
        <div class="content">
          
          <ion-row class="login__row">
            <ion-col size="12" class="login__col">
              <div class="checkbox-wrapper-2" style="
              display: flex;
              align-items: center;
          ">
                <input
                class="sc-gJwTLC ikxBAC"
                type="checkbox"
                id="saveUbication"
                name="saveUbication"
                 
                [(ngModel)]="saveUbication"
              
                
                required
              />
            </div>
              <label for="saveUbication" class="login__label">Guardar Ubicacion de los contactos</label>
              
             
            </ion-col>
          </ion-row>
          
        </div>
        </ion-grid>
        

        
  
      
    
  </div>
</ion-content>
