
<ion-header  class="ion-no-border">
  <ion-toolbar>

    <ion-buttons slot="start" >
      <ion-back-button  icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="content">
 
  <div class="container1">
    <div class="container__h1">
      <h1 >Forgot Password ?</h1>  
    </div>
    
    <form (submit)="enviar()" class="form">

      <input
      class="login__input"
      type="email"
      id="email"
      name="email"
      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
      [(ngModel)]="email"
      placeholder="Email"
      onfocus="this.placeholder = ''"
      onfocus="this.placeholder = ''"
      onblur="this.placeholder = 'Email'"
      required
    />
    
      <button type="submit" class="login__button"> Enviar </button>
    </form>
    
  </div>

</ion-content>
