<ion-content class="content" [fullscreen]="true">
  <app-menu ></app-menu>
  <ion-fab class="camera" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="camera__button" (click)="sharePhoto()">
      <ion-icon class="camera__button-icon" name="camera"></ion-icon>
    </ion-fab-button>
   
    
    
  </ion-fab>

  <div class="container1">
    <div class="container__welcome">
      <h1 class="container__welcome-h1" >Welcome !</h1>
      <p class="container__welcome-p" >{{nombre }}</p>
      <img class="container__img"
        *ngIf="user.pfp"
        [src]="user.pfp"
      >
     
    </div>

    <div class="container__totalContactos">
      <h1>
        <ion-icon name="people-circle-outline"></ion-icon>No. Total de Contactos
      </h1>
      <h1 class="ion-margin-horizontal">{{getNumeroContactos()}}</h1>
    </div>
  </div>
</ion-content>
