

<ion-content [fullscreen]="true">
  <div id="container">

    <div class="title">
      <h1 class="title__h1">Sign Up </h1>
    </div>
    <div toastContainer></div>

    <form (ngSubmit)="enviar()">
      <ion-grid>
        <div class="login">
          
          <ion-row class="login__row">
            <ion-col size="12" class="login__col">
              <input
                class="login__input"
                type="email"
                id="email"
                name="email"
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                [(ngModel)]="email"
                placeholder="Email"
                onfocus="this.placeholder = ''"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Email'"
                required
              />
              <label for="email" class="login__label">Email</label>
            </ion-col>
          </ion-row>
          <ion-row class="login__row">
            <ion-col size="12" class="login__col">
              <input
              class="login__input"
                id="password"
                type="password"
                placeholder="Password"
                name="password"
                
                onfocus="this.placeholder = ''"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Password'"
                [(ngModel)]="password"
                required
              />
              <label for="password" class="login__label">Password</label>
            </ion-col>
          </ion-row>

          <ion-row class="login__row">
            <ion-col size="12" class="login__col">
              <input
              class="login__input"
                id="confirm-password"
                type="password"
                name="cpassword"
                placeholder="Confirm Password"
                onfocus="this.placeholder = ''"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Confirm Password'"
                [(ngModel)]="cpassword"
                required
              />
              <label for="confirm-password" class="login__label"> Confirm Password</label>
            </ion-col>
          </ion-row>
          
          <ion-row class="login__row login__row-footer">
          
          <div class="login__signUpGoogle">
            <hr class="login__signUpGoogle__hr">
            <p class="login__signUpGoogle__p">Or get ready with </p>
            
            <img onclick="alert('ola')" class="login__signUpGoogle__img" src="../../assets/icon/icon-google.svg" alt="Google Icon">
          
            <button class="login__button" type="submit">Sign Up</button>

          </div>
  
        </ion-row>
        
          <p routerLink="/login" class="container__p"> Already have an <strong>Account</strong> </p>
        
        </div>
        
       
      </ion-grid>
    </form>
  </div>
</ion-content>
